body{
background-color: C8A3DC;
margin-left: 30px;
margin-right: 30px;
}

iframe{
padding: 20px;
padding-left: 325px;
}

table{
background-color: 6A308A;
border: solid 3px black;
border-radius: 15px;
}
h1{
font-size: 60px;
text-align: center;
margin: 60px 0px 90px 0px;
}

h2{
font-size: 35px;
text-align: center;
}

h3{
text-align: center;
padding-bottom: 30px;
}

td {
padding: 10px;
vertical-align: top;
}
